<head>
  <meta charset="UTF-8">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <div>
    <header>
      <h1>
        Tech Blog
      </h1>
      <main>
        {{{ body }}}
      </main>
  </div>
  </body>

</html>