<div class="registration">
  <form class="login-form">
  <h2 class="white-text">Log In</h2>
  <div class="mb-3">
    <label for="email-login" class="form-label grey-text">Email address</label>
    <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password-login" class="form-label grey-text">Password</label>
    <input type="password" class="form-control" id="password-login">
  </div>
  <button type="submit" class="btn btn-primary">Log in</button>
</form>
<div class="line"></div>
<form id="signup">
  <h2 class="white-text">Signup</h2>
  <div class="mb-3">
    <label for="name-signup" class="form-label grey-text">Name</label>
    <input type="text" class="form-control" id="name-signup">
  </div>
  <div class="mb-3">
    <label for="email-signup" class="form-label grey-text">Email</label>
    <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="password-signup" class="form-label grey-text">Password</label>
    <input type="password" class="form-control" id="password-signup">
  </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form>
</div>
{{#if logged_in}}
<script src="./js/logout.js"></script>
{{else}}
<script src="./js/login.js"></script>
<script src="./js/sign-up.js"></script>
{{/if}}